


#river {
    display: flex;
    flex-flow: row wrap;
    max-width: 80%;
    margin: 0 auto;
   
} 

.card {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.img-container {
    height: 300px;
    background-size: cover;
    background-position: center;
  }