@font-face {
    font-family: 'soulcraft';
    src: url('./Soulcraft.ttf');
}

body {
    font-family:soulcraft; 
}

.jumbotron {
    background-color: rgba(34, 139, 34);
    margin-bottom: 0 !important;
    padding-left: 10%;
    padding-right: 10%;

}

#river {
    display: flex;
    flex-flow: row wrap;
    margin: 0 10%;

} 

#card-border {
    padding: 3px;
    border-radius: 5px;
    background: url(../images/shiny-silver.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid black;
    margin: 2%;
}

.card {
    position: relative;
}
.ribbon1 {
color: white;
background-color: gold;
content: "Fattest Bear"
}
.ribbon2 {
    color:black;
    background-color: silver;
    content: "Second Fatest Bear"
}

.ribbon3 {
        color: goldenrod;
        background-color: white;
        content: "Third Fatest Bear"
}
#river-container {
    background: url(../images/river.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#submit {
    float: right;
    margin-top: 15px;
}

.progressButtons > button {
    margin-top:10px;
    margin-bottom: 10px;
    min-width: 80% !important;
}
.card {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.img-container {
    height: 300px;
    background-size: cover;
    background-position: center;
  }